---
import type { Post } from "@/content/config";

import Base from "@/layouts/BaseLayer.astro";
import PostPreview from "@/components/PostPreview.astro";
import { getPublishedPosts } from "@/content/util";

export async function getStaticPaths() {
  const publishedPosts = await getPublishedPosts();

  const uniqueTags = [
    ...new Set(publishedPosts.map((post: Post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag: string) => {
    const filteredPosts = publishedPosts.filter((post: Post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts }: { posts: Post[] } = Astro.props;
---

<Base meta={{ title: "Posts tagged with " + tag }}>
  <h2 class="mb-10 text-2xl font-heading tracking-wide w500:text-lg font-pixel">
    Posts tagged with <span class="text-text dark:text-darkText">#{tag}</span>
  </h2>
  <div class="w700:grid-cols-1 grid grid-cols-2 gap-5">
    {
      posts.map((post: Post) => (
        <PostPreview
          url={"/" + post.slug}
          title={post.data.title}
          description={post.data.description}
          pubDate={post.data.pubDate}
        />
      ))
    }
  </div>
</Base>
