---
import { Experience } from "@/components/Experience";
import { Education } from "@/components/Education";
import { Skills } from "@/components/Skills";

import BaseLayer from "@/layouts/BaseLayer.astro";
---

<BaseLayer meta={{ title: "Work Experience" }}>
  <h1 class="mb-8 text-3xl font-heading sm:text-5xl font-pixel">
    Fullstack Software Engineer
  </h1>

  <Experience />
  <Skills client:load />
  <Education />
</BaseLayer>
