---
import { ViewTransitions } from "astro:transitions";
import "../styles/globals.css";
import "@fontsource-variable/red-hat-text";
import "@fontsource/vt323";

import Meta from "@/components/Meta.astro";

import { Nav } from "@/components/Nav";
import config from "@/config";
import { Background } from "@/components/ui/background";

const {
  meta: { title, description = config.description },
} = Astro.props;
---

<script>
  import config from "@/config";
  function displayMode() {
    const preference = window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";

    const derivedMode =
      localStorage.mode === "light" || localStorage.mode === "dark"
        ? localStorage.mode
        : preference;

    if (derivedMode === "dark") {
      document.documentElement.classList.add("dark");
      document.documentElement.setAttribute(
        "data-theme",
        config.modes.dark as string
      );
    } else {
      document.documentElement.classList.remove("dark");
      document.documentElement.setAttribute(
        "data-theme",
        config.modes.light as string
      );
    }
  }

  displayMode();
  document.addEventListener("astro:after-swap", displayMode);
</script>
<html lang="en">
  <head>
    <Meta title={title} description={description} />
    <ViewTransitions />
  </head>
  <body class="bg-main dark:bg-darkMain font-base h-dvh transition-colors">
    <div class="pointer-events-none overflow-clip">
      <Background
        className="absolute inset-0 z-0"
        squareSize={4}
        gridGap={6}
        color="#3CFF00"
      />
    </div>
    <div
      class="flex flex-col-reverse sm:gap-10 gap-2 h-full w-full sm:p-10 p-4 sm:flex-row z-10 relative"
    >
      <nav class="sm:h-full transition-all ease-in-out duration-1000">
        <Nav client:only="react" pathName={Astro.url.pathname} />
      </nav>
      <main
        class="bg-bg border-border border-4 p-5 sm:p-10 w-full h-full max-h-screen overflow-y-auto scrollbar scrollbar-thumb-main dark:bg-darkBg dark:scrollbar-thumb-darkMain rounded-base"
      >
        <slot />
      </main>
    </div>
  </body>
</html>
