---
import { ViewTransitions } from "astro:transitions";

import Meta from "@/components/Meta.astro";

import { Nav } from "@/components/Nav";
import config from "@/config";

const {
  meta: { title, description = config.description },
} = Astro.props;
---

<script>
  import config from "@/config";

  function colorMode() {
    if (
      localStorage.theme === "dark" ||
      (!("theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      document.documentElement.classList.add("dark");
      document.documentElement.setAttribute(
        "data-theme",
        config.themes.dark as string
      );
    } else {
      document.documentElement.classList.remove("dark");
      document.documentElement.setAttribute(
        "data-theme",
        config.themes.light as string
      );
    }
  }

  colorMode();
  document.addEventListener("astro:after-swap", colorMode);
</script>
<html lang="en">
  <head>
    <Meta title={title} description={description} />
    <ViewTransitions />
  </head>
  <body
    class="mx-auto max-w-[900px] bg-bg px-5 font-base text-text scrollbar scrollbar-thumb-black dark:bg-darkBg dark:text-darkText dark:scrollbar-thumb-white"
  >
    <Nav client:only="react" pathName={Astro.url.pathname} />
    <main
      class="min-h-[calc(100dvh-70px)] py-10 pt-[120px] w500:min-h-[calc(100dvh-70px)] w400:pt-[140px]"
    >
      <slot />
    </main>
  </body>
</html>
