---
import { ViewTransitions } from "astro:transitions";
import "../styles/globals.css";
import "@fontsource-variable/red-hat-text";

import Meta from "@/components/Meta.astro";

import { Nav } from "@/components/Nav";
import config from "@/config";

const {
  meta: { title, description = config.description },
} = Astro.props;
---

<script>
  import config from "@/config";

  function displayMode() {
    const preference = window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";

    const derivedMode =
      localStorage.mode === "light" || localStorage.mode === "dark"
        ? localStorage.mode
        : preference;

    if (derivedMode === "dark") {
      document.documentElement.classList.add("dark");
      document.documentElement.setAttribute(
        "data-theme",
        config.modes.dark as string
      );
    } else {
      document.documentElement.classList.remove("dark");
      document.documentElement.setAttribute(
        "data-theme",
        config.modes.light as string
      );
    }

    const theme = localStorage.theme ?? config.theme;
    if (theme) document.documentElement.classList.add(theme);
  }

  displayMode();
  document.addEventListener("astro:after-swap", displayMode);
</script>
<html lang="en">
  <head>
    <Meta title={title} description={description} />
    <ViewTransitions />
  </head>
  <body
    class="bg-bg font-base text-text dark:bg-darkBg dark:text-darkText scrollbar scrollbar-thumb-main min-h-[100vh]"
  >
    <Nav client:only="react" pathName={Astro.url.pathname} />
    <main
      class="mx-auto px-5 max-w-[900px] min-h-[calc(100dvh-70px)] py-10 pt-[120px] w500:min-h-[calc(100dvh-70px)] w400:pt-[140px] z-10 bg-transparent relative"
    >
      <slot />
    </main>
  </body>
</html>
