---

---

<div
  class="border-main bg-main dark:bg-darkMain overflow-hidden dark:border-darkMain border-8 rounded-full grow-0"
>
  <img src={"/images/avatar.webp"} alt="Pixel art depiction of nathy." />
</div>
